#inv_main{
	text-align: center;
}

.List_img{
	width: 24px;
	height: 24px;
}

.sbtn{
	margin-top: 10px;
	margin-left: 3px;
}

.align_search{
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	display: flex;
	align-content: center;
}

.top-search{
	margin-top: 5px;
	border: 1px solid grey;
	border-radius: 7px;
	height: 35px;
}

.Header{
	display: flex;
	align-content: center;
}

.ListItems{
	display: flex;
	flex-direction: row;
	align-content: center;
	margin: 5px;
}
.Label{
	margin-left: 5px;
	font-size: 20px;
}

.specialList{
	padding: 10px;
	box-shadow: 0px 1px 5px 0px grey;
	margin:  10px;
	border-radius: 7px;
	display: flex;
	border-left: 3px solid #00aeff;
	flex-direction: column;
	text-align: left;
	align-content: center;
}

.specialList:hover{
	transition: 0.5s;
	transform: scale(1.02);
	border: 1px solid #00aeff;
}

.iconSize{
	font-size: 32px;
	color: #00aeff;
}

.textPadding{
	padding-left: 5px;
}

.itemsFlex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.general_padding{
	margin-left: 5px;
}