.cards_row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 1px 5px 0px grey;
	margin: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 7px;
}

.roundList{
	border-radius: 7px;
	box-shadow: 0px 1px 5px 0px grey;
}

.cards_row:hover,.BigShadow div:hover{
	transition: 0.5s;
	transform: scale(1.02);
}

.BigShadow{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-right: 10px;
	margin-left: 10px;
	box-shadow: 0px 1px 5px 0px grey;
	border-radius: 7px;
	padding: 5px;

}

.BigShadow div{
	width: 35%;
	border-radius: 7px;
}

#CheckoutList{
	margin: 8px;
}