.center_image{
	text-align: center;
	justify-content: center;
	margin: 10px;
}

.general_text{
	margin-top: 5px;
}

.general_shadow{
	box-shadow: 0px 1px 8px 0px;
	border-radius: 7px;
	margin: 10px;
}
.generalAlignment{
	display: flex;
	margin: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.btn{
	width: 100%;
}

.background{
	background-color: #00aeff;
}

.general_list_styling{
	border-radius: 17px;
}

.generalLabel{
	padding-left: 10px;
}
.item:hover{
	transition: 0.6s;
	transform: scale(1.04);
}

.generalIconSize{
	font-size: 80px;
	color: #00aeff;
}

.generalflex{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin:10px;
}